*{
margin: 0;
padding: 0;
}
.main-content {
  padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    /* height: 100rem; */
  }
  
    .card-content_banner{
      position: relative;
      /* top: -5rem; */
      /* left: -10rem; */
      margin-left: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      width: 100vw;
      height: 70%;
    }

    /*  */
    @media screen and (max-width: 875px) {
      .main-content{
        display: flex;
        flex-direction: column;
      }
    }