.navbar {
  /* Add styles for your navigation bar */
  /* color: #fff; */
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 2;
  column-gap: 10rem;
  background-color: transparent;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  text-align: center;
  position: fixed;
  width: 100%;
  transition: 0.3s;
  /* Add a smooth transition effect */
}
/* Navbar.css */
.nav-link {
  display: flex;
  flex-direction: row;
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.3rem;
}


.nav-link-white {
  color: #333;
}

.nav-link-white:hover {
  color: #fff;
}



.navbar-white {
  color: #333;
}



.navbar-scrolled {
  backdrop-filter: blur(3px);
  box-shadow: 0px 1px 5px #ef9d10;
  color: #333;
  /* Change the background color when scrolled */
}


.nav-links-scrolled {
  color: #333;
}

.nav-links-scrolled:hover {
  color: #fff;
}
.nav-links{
  display: flex;
  list-style: none;
}

.nav-link:hover {
  background-color: #ef9d10;
}

.navbar_top{
  /* color: #fff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background-color: transparent;
  padding-left: 1rem;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s;
}

/* /////////////////////////////////// */

.stock-ticker {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.stock-ticker p {
  margin: 0;
  font-size: 18px;
  margin-right: 20px;
  /* Adjust as needed */
}

.green {
  color: #2ecc71;
  /* Green color for positive change */
}

/* Hamburger icon styles */
.hamburger-icon {
  display: none; /* Hide by default for larger screens */
  cursor: pointer;
  padding: 15px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.navbar_dash{
  display: none;
}

.nav-mobile-menu{
  display: none;
}

/* Media queries - Responsive design */
@media  (max-width: 875px) {

  .navbar{
    justify-content: space-around;
  background-color: white;
  }
  .nav-links{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 4rem;
    background-color: #ef9d10;
    color: white;
    transform: translateX(-100%);
  }

  .nav-link:hover {
    color: #000;
    background-color: white;
  }

  .nav-links-scrolled {
    color: white;
    backdrop-filter: blur(0px);
}

  .nav-mobile-menu{
    display: block;
  }
}
