.news-panel {
  position: sticky;
  top: 5rem;
  right: 1rem;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  min-width: 22rem;
  height: 36rem;
  overflow: hidden;
  transition: top 0.3s ease;
  margin-bottom: 0.5rem;
}

.carousel-item::before{
  content: '';
  position: absolute;
  top: 0rem;

  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(2,0,36,0) 50%, rgba(0,0,0,1) 100%);
  z-index: 1;
}

.carousel {
  min-width: 22rem;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.2s;
}
.newsimg{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* filter: brightness(0.7); */
}

.carousel:hover .newimg{
  filter: blur(0px);
}

.news-panel h2 {
  position: absolute;
  left: 1rem;
  bottom: 3rem;
  color: white;
  font-size: 1.3em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  text-wrap: wrap;
  text-align: justify;
  word-spacing: -1px;
  width: 20rem;
  z-index: 500;
  cursor: pointer;
}
.active {
  opacity: 1;
  transform: scale(1);
}

.carouselbtns{
  position: absolute;
  top: 17rem;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-btn {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  color: #000000;
  width: 50px;
  height: 50px;
}


/* loading */
/* Add a loading animation to loading class */
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* transform: translate(-50%, -50%); */
}

/* Add animation to "spinner" */

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #ef9d10;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Add animation to "text" */

.text {
  color: #3498db;
  font-size: 10px;
  letter-spacing: 1px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 875px) {
  .news-panel{
    display: none;
  }
}



