.search-bar {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1rem;
  }
  
  .search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 0;
  }
  
  .search-bar button {
    background: #ef9d10;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .search-bar button:hover {
    background: #ffb941;
  }
  