.sidebar {
   /* width: 250px;  Adjust width as needed */
    /* height: 100vh;  Full height */
    position: relative;
    width: 20vw;
  height: 100vh;

    /* top: 4rem; */
    /* left: 0; */
    /* background-color: #1e6e76; */
    /* padding-top: 3rem; */
}

.user{
    position: absolute;
    top: 4rem;
    left: 0;
}

.user a{
    font-family: "Roboto Serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.title {
    color: #fff; /* Text color */
    text-align: center;
    margin-bottom: 1rem;
}

.sidenav-links {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidenav-links li {
    margin-bottom: 10px;
    width: 85%;
}

.sidenav-links a{
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

.sidenav-links a:hover {
    background-color: #fff; 
    /* Hover background color */
    color: #1e6e76; 
    /* Hover text color */
}

.user .active{
    background-color: #fff; 
    color: #1e6e76 !important;
}
